<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'css/signup.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper" style="margin-top: 10vh" data-aos="zoom-in">
		<h1>Log in</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form method="post">
                    {% csrf_token %}
					<input id="id_username" class="text" type="text" name="username" placeholder="Username" required="">
					<input id="id_password" class="text" style="margin-top: 3vh" type="password" name="password" placeholder="Password" required="">
                    <input type="submit" value="LOGIN">
				</form>
				<p>Don't you have an Account? <a href="{% url 'signup' %}"> SignUp Now!</a></p>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© 2020 All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Object Detection Lab</a></p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>